/*==============
      CORES
==============*/

/*STANDARD THEME*/
$color-bg: #023047;
$color-box: #FFF;
$color-hover: #EEE;
$color-text: #002233;
$color-checked: #9BB1BC;
$color-border: #8ECAE6;
$color-btns: #219EBC;
 
/*OCEAN THEME*/
$color-ocean-bg: #08254d;
$color-ocean-box: #E4FBFF;
$color-ocean-hover: #E4FBFF;
$color-ocean-text: #00121B;
$color-ocean-checked: #9BB1BC;
$color-ocean-border: #00B4D8;
$color-ocean-btns: #eaba6b;

/*FOREST THEME*/
$color-forest-bg: #1e2f23;
$color-forest-box: #96a86d;
$color-forest-hover: #9eb173;
$color-forest-text: #143300;
$color-forest-checked: #a1bc9b;
$color-forest-border: #34623F;
$color-forest-btns: #7f4f24;

/*GYM THEME*/
$color-gym-bg: #2B2D42;
$color-gym-box: #EDF2F4;
$color-gym-hover: #f7fafc;
$color-gym-text: #1d1e30;
$color-gym-checked: #9bacbc;
$color-gym-border: #EF233C;
$color-gym-btns: #8D99AE;

/*MAGIC THEME*/
$color-magic-bg: #7B2CBF;
$color-magic-box: #9D8DF1;
$color-magic-hover: #a899f5;
$color-magic-text: #1F1300;
$color-magic-checked: #b39bbc;
$color-magic-border: #5535D4;
$color-magic-btns: #826ECB;

/*SPECIAL COLORS*/
$color-delete: #FB5A00;
$color-delete-hover: #FFE8E8;

/*==============
   TIPOGRAFIA
==============*/

$main-font: 'Quicksand', Arial, Helvetica, sans-serif;

@mixin font($type) {
   @if $type == title {
      font-family: $main-font;
      font-size: 3.6rem;
      font-weight: 700;
      font-style: normal;
      text-transform: none;
      line-height: 1.25;
      letter-spacing: 0px;
   } @else if $type == text {
      font-family: $main-font;
      font-size: 1.8rem;
      font-weight: 700;
      font-style: normal;
      text-transform: none;
      line-height: 1.4;
      letter-spacing: 0px;
   } @else if $type == list {
      font-family: $main-font;
      font-size: 1.8rem;
      font-weight: 500;
      font-style: normal;
      text-transform: none;
      line-height: 1.4;
      letter-spacing: .3px;
   }
}