@import 'reset';
@import 'mixins';

body {
   background-color: $color-bg;
}

.box {
   max-width: 600px;
   background-color: $color-box;
   padding: 10px 50px;
   border-radius: 5px;
   box-shadow: 3px 3px 3px 0px rgba(0,0,0,.2);
   margin: 120px auto;
   .title {
      max-width: fit-content;
      color: $color-text;
      margin: 0px auto 10px auto;
      @include font(title);
   }
   .theme {
      max-width: fit-content;
      color: $color-text;
      margin: 0px auto 20px auto;
      @include font(text);
      select {
         border: 1px solid $color-text;
         border-radius: 5px;
         cursor: pointer;
         @include font(text);
      }
   }
   .input-field {
      display: grid;
      grid-template-columns: 1fr 60px;
      gap: 10px;
      margin: 0px auto 20px auto;
      input {
         padding: 10px;
         border: 2px solid $color-border;
         border-radius: 5px;
         @include font(text);
      }
      .input-btn {
         display: flex;
         justify-content: center;
         align-items: center;
         min-height: 60px;
         background-color: transparent;
         border: 2px solid $color-border;
         border-radius: 5px;
         cursor: pointer;
         span {
            &::before {
               content: '';
               display: block;
               width: 18px;
               height: 3px;
               background-color: $color-btns;
               border-radius: 5px;
               transition: .3s;
               position: relative;
               bottom: -3px;
            }
            &::after {
               content: '';
               display: block;
               width: 18px;
               height: 3px;
               background-color: $color-btns;
               border-radius: 5px;
               transition: .3s;
               transform: rotate(90deg);
            }
         }
         &:hover {
            background-color: $color-hover;
         }
      }
   }
   .list {
      .list-item {
         display: grid;
         grid-template-columns: 2px 17px 1fr 25px;
         align-items: center;
         gap: 5px;
         padding: 6px;
         border: 2px solid $color-border;
         border-radius: 5px;
         margin-bottom: 10px;
         @include font(list);
         .list-item-detail {
            grid-column: 1;
            &::before {
               content: '';
               display: block;
               width: 2px;
               height: 27px;
               background-color: $color-btns;
            }
         }
         .list-item-checkbox {
            grid-column: 2;
            display: block;
            width: 17px;
            height: 17px;
            background-color: transparent;
            border: 2px solid $color-btns;
            border-radius: 5px;
         }
         .list-item-text {
            grid-column: 3;
            margin-left: 5px;
         }
         .list-item-delete {
            display: block;
            background-color: transparent;
            padding: 0px 10px;
            position: relative;
            top: -2px;
            &::before, &::after {
               content: '';
               display: block;
               width: 2px;
               height: 15px;
               background-color: $color-delete;
               border-radius: 5px;
               transform: rotate(45deg);
               position: relative;
               bottom: -10px;
               left: 0px;
            }
            &::after {
               transform: rotate(315deg);
               top: -5px;
               left: 0px;
            }
            &:hover {
               background-color: $color-delete-hover;
            }
         }
         &.checked {
            .list-item-checkbox {
               width: 15px;
               height: 15px;
               background-color: $color-btns;
               border: 2px solid $color-box;
               box-shadow: 0px 0px 0px 2px $color-btns;
            }
            .list-item-text {
               text-decoration: solid line-through;
               color: #bbb;
            }
         }
      }
   }
}

.box .list .list-item:first-child {
   display: none;
}

@media only screen and (max-width: 620px) {
   .box {
      padding: 10px;
      margin: 60px 10px;
   }
}

/*==============
   OCEAN THEME
==============*/

.theme-ocean body {
   background-color: $color-ocean-bg;
   .box {
      background-color: $color-ocean-box;
      .title {
         color: $color-ocean-text;
      }
      .theme {
         color: $color-ocean-text;
         select {
            background-color: transparent;
            border: 1px solid $color-ocean-text;
         }
      }
      .input-field {
         input {
            background-color: transparent;
            border: 2px solid $color-ocean-border;
         }
         .input-btn {
            border: 2px solid $color-ocean-border;
            span {
               &::before,
               &::after {
                  background-color: $color-ocean-btns;
               }
            }
            &:hover {
               background-color: $color-ocean-hover;
            }
         }
      }
      .list {
         .list-item {
            border: 2px solid $color-ocean-border;
            .list-item-detail {
               &::before {
                  background-color: $color-ocean-btns;
               }
            }
            .list-item-checkbox {
               border: 2px solid $color-ocean-btns;
            }
            &.checked {
               .list-item-checkbox {
                  background-color: $color-ocean-btns;
                  border: 2px solid $color-ocean-box;
                  box-shadow: 0px 0px 0px 2px $color-ocean-btns;
               }
            }
         }
      }
   }
}

/*==============
   FOREST THEME
==============*/

.theme-forest body {
   background-color: $color-forest-bg;
   .box {
      background-color: $color-forest-box;
      .title {
         color: $color-forest-text;
      }
      .theme {
         color: $color-forest-text;
         select {
            background-color: transparent;
            border: 1px solid $color-forest-text;
         }
      }
      .input-field {
         input {
            background-color: transparent;
            border: 2px solid $color-forest-border;
         }
         .input-btn {
            border: 2px solid $color-forest-border;
            span {
               &::before,
               &::after {
                  background-color: $color-forest-btns;
               }
            }
            &:hover {
               background-color: $color-forest-hover;
            }
         }
      }
      .list {
         .list-item {
            border: 2px solid $color-forest-border;
            .list-item-detail {
               &::before {
                  background-color: $color-forest-btns;
               }
            }
            .list-item-checkbox {
               border: 2px solid $color-forest-btns;
            }
            &.checked {
               .list-item-checkbox {
                  background-color: $color-forest-btns;
                  border: 2px solid $color-forest-box;
                  box-shadow: 0px 0px 0px 2px $color-forest-btns;
               }
            }
         }
      }
   }
}

/*==============
   GYM THEME
==============*/

.theme-gym body {
   background-color: $color-gym-bg;
   .box {
      background-color: $color-gym-box;
      .title {
         color: $color-gym-text;
      }
      .theme {
         color: $color-gym-text;
         select {
            background-color: transparent;
            border: 1px solid $color-gym-text;
         }
      }
      .input-field {
         input {
            background-color: transparent;
            border: 2px solid $color-gym-border;
         }
         .input-btn {
            border: 2px solid $color-gym-border;
            span {
               &::before,
               &::after {
                  background-color: $color-gym-btns;
               }
            }
            &:hover {
               background-color: $color-gym-hover;
            }
         }
      }
      .list {
         .list-item {
            border: 2px solid $color-gym-border;
            .list-item-detail {
               &::before {
                  background-color: $color-gym-btns;
               }
            }
            .list-item-checkbox {
               border: 2px solid $color-gym-btns;
            }
            &.checked {
               .list-item-checkbox {
                  background-color: $color-gym-btns;
                  border: 2px solid $color-gym-box;
                  box-shadow: 0px 0px 0px 2px $color-gym-btns;
               }
            }
         }
      }
   }
}

/*==============
   MAGIC THEME
==============*/

.theme-magic body {
   background-color: $color-magic-bg;
   .box {
      background-color: $color-magic-box;
      .title {
         color: $color-magic-text;
      }
      .theme {
         color: $color-magic-text;
         select {
            background-color: transparent;
            border: 1px solid $color-magic-text;
         }
      }
      .input-field {
         input {
            background-color: transparent;
            border: 2px solid $color-magic-border;
         }
         .input-btn {
            border: 2px solid $color-magic-border;
            span {
               &::before,
               &::after {
                  background-color: $color-magic-btns;
               }
            }
            &:hover {
               background-color: $color-magic-hover;
            }
         }
      }
      .list {
         .list-item {
            border: 2px solid $color-magic-border;
            .list-item-detail {
               &::before {
                  background-color: $color-magic-btns;
               }
            }
            .list-item-checkbox {
               border: 2px solid $color-magic-btns;
            }
            &.checked {
               .list-item-checkbox {
                  background-color: $color-magic-btns;
                  border: 2px solid $color-magic-box;
                  box-shadow: 0px 0px 0px 2px $color-magic-btns;
               }
            }
         }
      }
   }
}